extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Jeanene Cannon

        p Full Stack JavaScript Developer
        .about-bio
          p One consistent truth about my professional journey is the common thread of service. Whether as a Social Worker, Fitness Entrepreneur or serving in a STEM program whose mission to serve African American youth aligns with mine; I believe in utilizing whatever gifts & talents I have to serve my community and contribute to the progress of those who seek to enrich their lives. My journey continues now as I am working towards earning my Full Stack JavaScript Tech Degree in hopes of utilizing my tech skills to help others in a new way. 

           img.thumbnail(src='/static/images/jeaneneC2.jpg' alt='jeanene with laptop pic') 

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 555-555-1234
          li jeanene.cannon@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/jeanenec') LinkedIn
        a.btn-link(href='https://github.com/lifelearner2?tab=stars') GitHub
        a.btn-link(href='https://twitter.com/fakefakepagecoder') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back