extends layout.pug

block content

  article.portfolio-intro

    h1 Let's make the web great together!

    p This portfolio highlights some of my skills as a developer.

  article.portfolio-project-thumbs
    .projects-box.box.grid

     each project in projects 
      .cell 
        a(href=`/project/${project.id}`)
          h2= project.project_name
          img(src=`${project.image_urls[0]}` width='320' height='240')


//- Use the example Pug code below and interpolated template literals as needed to dynamically generate:
//- The paths in the link's href and img's src attributes
//- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
//- The project title for the h5 element's text

  .cell
    a(href='#')
      img.thumbnail(src='https://placehold.it/550x550' alt='')
      h5 My Site


